

{% for feedbackEntry in site.data.features.feedback %}
{% if feedbackEntry.active %}
<script type="text/javascript">
/* <![CDATA[ */
  $(':header[id]').each(function() {
    var sectionId = $(this).attr('id');
    if (sectionId) { //To make sure the element has an id

      var formVars = new Set();  
      formVars.add("sectionId");  
      formVars.add("pageTitle");  
      formVars.add("sectionName");  

//        document.writeln(set.has("Bootstrap"));   

      var pageTitle= encodeURIComponent($(document).attr('title'));
      var sectionName = document.getElementById(sectionId).textContent;
      var feedbackurl = '{{feedbackEntry.formUrl}}';
      var feedbacklabel = 'Feedback';

      {% if feedbackEntry.parameters %}
        {% if feedbackEntry.label %}
          feedbacklabel = '{{feedbackEntry.label}}';
        {% endif %};
        {% for parm in feedbackEntry.parameters %}
          feedbackurl = feedbackurl + '&';

          feedbackurl = feedbackurl + {{ parm.name }} + '=' + {{ parm.value }}

        {% endfor %}
      {% endif %};
      $(this).append(function () {
        return $('<a/>', {
          id,
          href: feedbackurl,
          text: feedbacklabel+' ' ,
          class: 'feedback',
          target: '_blank',
  
          onclick: 'window.open('+feedbackurl+',\'newwindow\',\'width=300,height=250\');return false;'
  
        });
      });
    }
  })
/* ]]> */
</script>  
{% endif %}
{% endfor %}